-
    var vendorsList = [
        {
            img: './assets/imgs/vendors/aeg.svg',
            title: 'AEG',
            flag: './assets/imgs/countries/germany.svg',
            country: 'Германия, с 1887 г.',
        },
        {
            img: './assets/imgs/vendors/caso.svg',
            title: 'CASO',
            flag: './assets/imgs/countries/germany.svg',
            country: 'Германия, с 1952 г.',
        },
        {
            img: './assets/imgs/vendors/ellrona.svg',
            title: 'Ellrona',
            flag: './assets/imgs/countries/germany.svg',
            country: 'Германия, с 2008 г.',
        },
        {
            img: './assets/imgs/vendors/proficook.svg',
            title: 'Profi Сook',
            flag: './assets/imgs/countries/germany.svg',
            country: 'Германия, с 2005 г.',
        },
        {
            img: './assets/imgs/vendors/solis.svg',
            title: 'Solis',
            flag: './assets/imgs/countries/switzerland.svg',
            country: 'Швейцария, с 1908 г.',
        },
        {
            img: './assets/imgs/vendors/steba.svg',
            title: 'Steba',
            flag: './assets/imgs/countries/germany.svg',
            country: 'Германия, с 1919 г.',
        },
        {
            img: './assets/imgs/vendors/bomann.svg',
            title: 'Bomann',
            flag: './assets/imgs/countries/germany.svg',
            country: 'Германия, с 1886 г.',
        },
        {
            img: './assets/imgs/vendors/clatronic.svg',
            title: 'Clatronic',
            flag: './assets/imgs/countries/germany.svg',
            country: 'Германия, с 1982 г.',
        },
        {
            img: './assets/imgs/vendors/emerio.svg',
            title: 'Emerio',
            flag: './assets/imgs/countries/netherlands.svg',
            country: 'Нидерланды, с 2008 г.',
        },
        {
            img: './assets/imgs/vendors/proficare.svg',
            title: 'Profi Care',
            flag: './assets/imgs/countries/germany.svg',
            country: 'Германия, с 2018 г.',
        },
        {
            img: './assets/imgs/vendors/rommelsbacher.svg',
            title: 'Rommelsbacher',
            flag: './assets/imgs/countries/germany.svg',
            country: 'Германия, с 1928 г.',
        },
        {
            img: './assets/imgs/vendors/status.svg',
            title: 'Status',
            flag: './assets/imgs/countries/slovenia.svg',
            country: 'Словения, с 1995 г.',
        },
        {
            img: './assets/imgs/vendors/tristar.svg',
            title: 'Tristar',
            flag: './assets/imgs/countries/netherlands.svg',
            country: 'Голландия, с 1977 г.',
        },
        {
            img: './assets/imgs/vendors/princess.svg',
            title: 'Princess',
            flag: './assets/imgs/countries/netherlands.svg',
            country: 'Голландия, с 1994 г.',
        },
        {
            img: './assets/imgs/vendors/temptech.svg',
            title: 'Temptech',
            flag: './assets/imgs/countries/netherlands.svg',
            country: 'Голландия, с 1977 г.',
        },
        {
            img: './assets/imgs/vendors/wilfa.svg',
            title: 'Wilfa',
            flag: './assets/imgs/countries/netherlands.svg',
            country: 'Голландия, с 1994 г.',
        },


    ]
