-
    var imgPath = './assets/imgs/categories/'
    var vendorCategoriesList = [
        {
            img: imgPath+'cat1.jpg',
            title: 'Кофемашины',
        },
        {
            img: imgPath + 'cat2.jpg',
            title: 'Мясорубки',
        },
        {
            img: imgPath + 'cat3.jpg',
            title: 'Соковыжималки',
        },
        {
            img: imgPath + 'cat4.jpg',
            title: 'Вакууматоры',
        },
        {
            img: imgPath + 'cat5.jpg',
            title: 'Диспенсеры воды',
        },
        {
            img: imgPath + 'cat6.jpg',
            title: 'Фритюрницы',
        },
        {
            img: imgPath + 'cat7.jpg',
            title: 'Плиты настольные',
        },
        {
            img: imgPath + 'cat8.jpg',
            title: 'Винные шкафы',
        },
        {
            img: imgPath + 'cat9.jpg',
            title: 'Кофемолки',
        },
        {
            img: imgPath + 'cat10.jpg',
            title: 'Блендеры',
        },
        {
            img: imgPath + 'cat11.jpg',
            title: 'Печи',
        },
        {
            img: imgPath + 'cat12.jpg',
            title: 'Измельчители',
        },
    ]
